kbd {
    background-color: rgb(236, 236, 236);
    border-radius: 5%;
    padding: 5px;
    border: 2px solid rgb(189, 189, 189);
    font-family: 'Comic Sans MS';
}
.game-iframe {
    border: none;   /* Removes the default iframe border */
    display: block; /* Helps with potential whitespace issues */
    width: 100vw;
    height: 100vh;
}







